.border {
    border: 2px solid rgb(59, 86, 184);
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.invert{
    filter: invert(1)
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #5e5e5e;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover{
    background: #8a8a8a;
}